/* global style */

html {
    background: #60a6b5;
    box-sizing: border-box;
}

/* inherit繼承 */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 87%;
}

a:hover {
    color: red;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    padding-left: 42px;
    padding-right: 3em;
    /* 1em=14px em*3=42px */
}

.header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: pink;
    /* h1正常200%16px 1.65 23px */
}

.header-title {
    font-weight: bold;
    font-size: 165%;
    margin-bottom: -25px;
}

.hearder-slogan {
    margin: -0px;
}

.nav {
    margin-top: 5px;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    list-style-type: none;
    margin-right: 15px;
}

.nav-list-item-link {
    text-decoration: none;
    color: lightslategray;
    text-align: center;
    padding: 6px 10px;
    text-transform: uppercase;
    border: 3px solid lightgray;
    margin-right: 10px;
}
.nav-list-item-link:hover, .nav-sublist-item-link:hover{
    background-color: skyblue;
}

.nav-sublist {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index:1;
    list-style-type: none;
}

.nav-sublist-item {
    list-style-type: none;
    margin: 11px 0px 11px 0px;
}

.nav-sublist-item-link {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 4px 20px 4px 20px;
    text-transform: uppercase;
    background-color: darkcyan;
    border:3px solid lightgray;
}

.sub:hover .nav-sublist {
    display: block;
}

/* content style */

.content-area {
    display: flex;
    margin-top: 6px;
    border-top: 2px solid #e5e9dc;
    border-bottom: 1px solid #e5e9dc;
    padding: 0.87em;
}

.main-area {
    width: 60%;
    padding-right: 5px;
}

.sidebar {
    background-color: lightseagreen;
    width: 40%;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 85%;
}

.footer {
    text-align: center;
    font-size: 85%;
    color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}