* {
    text-align: center;
    box-sizing: border-box;
    font-family: '標楷體';
}

.main {
    /* border: black solid 1px; */
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
}

.main>*:not(aside, section), aside>*, section>* {
    border: black solid 1px;
}

.top {
    flex-basis: 1000px;
    height: 65px;
    margin: 0 12px;
}

.aside {
    flex-basis: 215px;
    height: calc(100% - 65px - 20px);
    display: flex;
    flex-direction: column;
    margin: 0 7px;
}

nav.menu {
    flex-basis: calc(100% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
}
nav.menu>header{
    color: #FF00FF;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
}

nav.menu>a {
    text-decoration: none;
    flex-basis: 30px;
    width: 200px;
    align-self: center;
    line-height: 30px;
    margin: 5px 0;
    color: #000000;
    font-size: 16px;
    background: url(./images/menu1.png);
    
}

.menu>a:hover {
    background: url(./images/menu2.png);
}

.update {
    flex-basis: 25px;
    color: #000000;
    font-size: 16px;
}

.section {
    flex-basis: 770px;
    height: calc(100% - 65px - 20px);
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

marquee {
    flex-basis: 29px;
    color: #0000FF;
}

.content {
    flex-basis: calc(100% - 29px);
}

footer {
    box-sizing: content-box;
    flex-basis: 1000px;
    height: 20px;
    padding-bottom: 5px;
    margin: 10px 0;
    color: #000000;
    font-size: 16px;
}