.main {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: '微軟正黑體';
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
}

.main>div {
    border: 2px solid black;
    flex-basis: calc(90% / 3);
    height: calc(90vh / 3);
}

.b1 {
    background-color: rgb(255, 194, 203);
}

.b2 {
    background-color: rgb(185, 255, 185);
}

.b3 {
    background-color: rgb(196, 240, 255);
}

@media (max-width:400px) {
    .main>div {
        flex-basis: 100%;
        text-align: center;
        font-size: 12px;
        color: red;
    }
}
@media (min-width:401px) and (max-width:699px) {
    .main>div {
        flex-basis: calc(100% / 2);
        text-align: center;
        font-size: 12px;
        color: blue;
    }
}
@media (min-width:700px) {
    .main>div {
        flex-basis: calc(100% / 3);
        text-align: center;
        font-size: 12px;
        color: darkgreen;
    }
}